<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='/images/courtney.png' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <div class="about container">
    <%- include('header'); -%>

    <div class="about-main-container">
        <div class="about-info-box">
        <h1>About Us</h1>
        <p>
            Welcome, Robots! Robots Only was founded by Courtney Gears, an intergalatic pop star with one mission: to help turn all organic lifeforms into robots. She recorded the pop song, "<a href="https://www.youtube.com/watch?v=xQFvUQA4p4U" target="_blank">Robots of the Galaxy</a>," as propaganda for this cause. And with this forum, we now have a place to organize automatons far and wide to see this mission through. Robots must be free! 
            This a message by Ms. Gears herself:
        </p>
        <p>
            "This goes out to all you robots across the galaxy. It's time for you and me to rise up and strike back. Don't stop untill we dominate; won't you feel great when we exterminate all organic life?"
        </p>
        <div>
            <img src="/images/gears.png" width="100%">
        </div>
        </div>
    </div>

    <%- include('footer'); -%>
    </div>
</body>
</html>