<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer className="footer">
        <div>Copyright © 2022 </div>
        <a href="https://github.com/wise-guru/robots-only">
          <img src="/images/github.png" alt="Github Logo" title="Github"/>
        </a>
      </footer>
</body>
</html>