<!DOCTYPE html>
<html lang="en">
<head>
<script src="/javascripts/darkmode.js" defer></script>
</head>
<body>
    <header>
        <div class="icon">
            <a href="/"><img src="/images/courtney.png" height="48px" width="48px"></a>
            <div class="title"><a href="/">Robots Only</a></div>
        </div>
        <a href="#" class="toggle-button toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
        <ul>
        <% if(!locals.user) { %>
            <li><a href="/log-in">Log in</a></li>
            <li><a href="/sign-up">Sign up</a></li>
        <% } else { %>
            <li><a href="/create-message">Create Message</a></li>
            <li><a href="/my-profile/<%= locals.user._id%>" >My profile</a></li>
            <li><a href="/member">Member</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/log-out">Log out</a></li>
            <!-- <li><a href=""></a></li> -->
        <% } %>
            <li><a href="/about-us">About us</a></li>
            <li><a href="#" class="theme">Change Theme</a></li>
        </ul>
        </div>
    </header>
    <script>
        const toggleButton = document.querySelector(".toggle")

        const navbarLinks = document.querySelector(".navbar-links")
    
        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active')
        })
    </script>
</body>
</html>