.login-container, .sign-up .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form, .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.login p {
    padding: 0.5rem 1rem;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
}

input[type="text"], input[type="password"] {
    border: none;
    background: transparent;
    height: 40px;
    outline: none;
    font-size: 16px;
}

.button-container {
    align-self: center;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.error-color {
    color: red;
}


/* For create message box */
textarea
{
width: 200px;
height: 90px;
border-radius: 3px;
border: 1px solid rgb(133, 131, 131);
padding: 8px;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
background: transparent;
}


