@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background);
}

body {
  --body-background: #e2e8f0;
  --container-background: #fff;
  --header-box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --text-color: #000000;
}

body.dark {
  --body-background: rgb(17 24 39/1);
  --container-background: rgb(31 41 55/1);
  --box-shadow: rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px, rgba(0, 0, 0, 0.2) 0px 11px 15px -7px;
  --text-color: white;
}

:root {
  --red: #C1121F;
  --dark-red: #af021f;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

body, ul, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  /* padding: 0 0.1rem; */
  margin: auto;
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 1024px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* box-shadow: 3px 3px 10px rgb(0 0 0 / 20%); */
  /* justify-content: space-between; */
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 0.5rem;

}

header, footer {
  background-color: var(--red);
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  
}

header .icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.icon .title:hover {
  transform: scale(1.025);
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.navbar-links li a {
  text-decoration: none;
  padding: .5rem 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: var(--dark-red);
}

/*------------------ Hamburger menu toggle--------------- */

@media (max-width: 1024px) {
  .navbar-links {
    width: 100%;
    display: none;
    font-weight: 600;
  }
  
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
 
  
  .toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button:hover {
    box-shadow: 0px 0px 5px #fff;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  
  .navbar-links.active {
    display: flex;
  }
}


/* ------------------------Footer ----------------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  /* position: relative; */

}

button {
  border: none;
  background-color: var(--red);
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #cf1420;
}

.about-main-container, 
.login-container,
.message-form-container
 {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;

  flex-direction: column;
}

.about-main-container {
  border-radius: 5px;
}



.admin-info-container,
.member-info-container,
.info-container
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.member-text a {
  color: var(--red);
}

/*--------------------Changing between dark and light themes --------------*/

.sign-up .container, 
.admin-info-container, 
.member-info-container,
.login-container,
.about-main-container,
.message-form-container,
.info-container,
.modal-content,
.message-container,
.msg-title
 {
  color: var(--text-color);
  background-color: var(--container-background);
}

.messages-container, .profile-container {
  color: var(--text-color);
}

input[type="text"], input[type="password"] {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border-bottom: 2px solid var(--text-color);
}

textarea {
  color: var(--text-color);
}



/* ----------- Media Query ------------  */

@media(min-width: 1024px) {
  .container {
    max-width: 100%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links ul {
    display: flex;
  } 

  .messages-container {
    align-items: center;
    
  }

  .about-info-box {
    width: 80%;
  }

  .about-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
    font-size: 1.5rem;
    max-width: 2000px;
  }
} 

