body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  padding: 0 10px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 450px;
}

header {
  display: flex;
}

header .icon {
  display: flex;
  align-items: end;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}